.two-columns__main-text {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}