@font-face {
  font-family:'Inter';
  src: url(../../fonts/fonts.css);
}
@keyframes rotation {
  from { 
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.centered-block {
  margin:0 auto;
  
}
.content {
display:flex;
 flex-direction: column;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  display: block;
}

