.footer {
  display: flex;
  position: relative;
  min-height: 350px;
  width:100%;
  background-color: black;
  justify-content: center;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 0;
  
}
.footer__columns {
  margin-top: 60px;
  margin-bottom:40px;
  width:90%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height:fit-content;
}

.logo_place_footer {
  width: 228px;
  height:32px;
 /* position: absolute;
  top: 60px;
  left: 64px;*/

}
.author {
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns_content_copyright{
  flex-basis: 711px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__columns_second {
  
  display: flex;
  flex-direction: row;
 
 
}
.footer__columns_content_info {
  
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  align-items: flex-start;
}
.footer__columns-heading {
  color: white;
  margin: 0 0 20px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
}
.footer__columns-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 16px 0;
  
  
}

.footer__columns_content_social {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: right;
  
}
.footer__columns-link {
  margin-bottom: 10px;
  color: white;
  opacity: 1;
  text-decoration: none;
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin-left: -20px;
  
}

.footer__columns-link:hover{
  opacity: 0.5;
  transition: linear;
  
}
.social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  z-index: -1;
}


