.table__text {
  margin: auto auto 20px auto;
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-of-type {
  margin: auto;
}