.khan__buy-link {
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 0;
  color:  #2f80ed;
  opacity: 1;
  text-decoration: none;
  z-index: 1;
}
.khan__buy-link:hover {
  opacity: 0.5;
  transition: linear;
  text-decoration: none;
  
}